* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    display: flex;
    background-color: rgb(48, 47, 47);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
}

header ul{
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    flex-grow: 1; 
    gap: 20px;
    justify-content: center;
    
}

header img {
    width: 150px; 
    height: auto;
}


header ul li:hover{
    background-color: brown;
}

header ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

header ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    display: block;
    
}


.navBar{
    display: flex;
    justify-content: space-evenly;
}


.greenBoldBig {
    font-size: 24px;
    font-weight: bold;
    color: #3ec955;
    text-align: center;
    margin-bottom: 10px;
}

.greenDashedBorderWithBackground {
    font-size: 14px;
    color: #3ec955;
    border: 2px dashed #3ec955;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgba(62, 201, 85, 0.1);
}


.greenBorder {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #3ec955;
    border-radius: 8px;
}


table {
    width: 100%;
    margin-bottom: 20px;
    border-spacing: 10px;
}

th, td {
    text-align: left;
    padding: 12px;
    vertical-align: middle;
}

th {
    background-color: #f9f9f9;
    color: #3ec955;
}


td:first-child {
    background-color: #e0f7e5; 
    color: #3c8c3a; 
}

td input,
td select,
td textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

td input[type="number"] {
    width: auto;
    display: inline-block;
    margin-right: 5px;
}

td textarea {
    height: 80px;
}


td label {
    display: block;
    margin-bottom: 5px;
}




input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #36b848;
}


footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #666;
}

footer p {
    margin-bottom: 5px;
}

.centerTable {
    text-align: center;
}

.yourPhoneContainer{
    display: flex;
    gap: 10px;
}